<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function getDateTime()
        {
           $.get("/demo/datetime",{},showDateTime); // URL, params, callback
        }

        function showDateTime(resp)
        {
           // Id selector
           $("#datetime").html(resp);
        }
    </script>
</head>
<body>
<button onclick="getDateTime()">Get Date and Time</button>
<h2 id="datetime"></h2>
</body>
</html>